
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 4%;
  background-color: var(--black);
  width: 100%;
  min-height: 100vh; 
}

.signup-wrapper {
  background-color: #d8d8d8;
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  width: 100%; 
  max-width: 500px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.signup-form-group {
  margin-top: 20px; 
  margin-bottom: 20px;
}

.btn-signup {
  display: block;
  width: 100%;
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 12px 20px; 
  font-size: 16px;
  transition: transform 0.3s ease;
}

.btn-signup:hover {
  background-color: rgb(255, 145, 0);;
  color: white; 
  transform: scale(1.05);
}

.input{
  background-color: #f0f0f0;
  color: #252323;
}

.input-wide {
  width: calc(100% - 50px); 
}

h2{
  color: #252323; ;
}

label{
  font-size: 0.9rem;
  color: #252323; ;
}


@media (max-width: 600px) {
  .signup-wrapper {
    padding: 10px; 
    max-width: 90%; 
  }
  
  .signup-form-group {
    margin-top: 10px; 
    margin-bottom: 10px; 
  }

  .btn-signup {
    font-size: 12px; 
    padding: 8px 12px; 
  }
}
