.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; /* Centraliza os itens horizontalmente */
  width: 100%;
  gap: 32px;
}

@media screen and (max-width: 768px) {
  .content {
    justify-content: center; /* Centraliza os itens horizontalmente em telas menores */
  }
}
