.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 296px;
  border-radius: 2px;
  transition: 0.5s all;
  gap: 8px;
  background-color: black;
}

.card-description {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 8px 8px 8px;
  gap: 16px;
}

.card-title {
  font-size: 18px;
  font-weight: 600;
  color: var(--white);
}

.btn-add-to-cart {
  color: var(--white);
  padding: 8px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  transition: 0.3s;
}

.btn-add-to-cart:hover {
  background-color: rgb(255, 145, 0);
}
