.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  position: sticky;
  top: 0;
  background-color: var(--black);
  border-bottom: 1px solid rgb(255, 145, 0);
}

.title {
  color: var(--white);
  font-size: 18px;
}

.input-default {
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  color: var(--white);
}
.input-default::placeholder {
  font-weight: 500;
}

a {
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
}

.cart-link {
  margin-left: 56px; /* Ajuste conforme necessário */
}

.menu-right {
  margin-top: 95px;
  margin-left: auto; /* Isso empurra o menu para a direita */
  margin-bottom: 80px;
  display: flex;
  align-items: center;
}
